#POstyles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
}
#PO {
  /* margin: 0px 290px; */
  display: flex;
  flex-direction: row;
  position: relative;
}

#POleft {
  width: 600px;
  position: relative;
  /* border: solid; */
  z-index: 2;
}
#POimg-carousel {
  position:relative;
  width: 600px;
  z-index: 2;
}

#POright {
  width: 30%;
  /* border: solid; */
  position: absolute;
  z-index: 1;
  left: 650px;
  display: flex;
  justify-content: space-evenly;
  flex-direction:  column;
  height: 90%;
}

#ratingsReview{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

#POlens {
  position: absolute;
  width: 40px;
  height: 40px;
  z-index: 5;
  background-color: rgb(255, 255, 255, 0.3);
}

#POzoomed {
  border: 1px solid black;
  width: 240px;
  height: 240px;
  position: absolute;
  left: 330px;
  top: 0px;

}

#POprice {
  display: flex;
  flex-direction: 'row';
}

#POsalesPrice {

}

.POthumbnail-button {
  border-radius: 100%;
  position: absolute;
  width: 8%;
  border: 0px solid black;
  color: greenyellow;
  background-color: transparent;
  font-size: 20px;
  font-weight: 900;
}

#POthumbnail-up {
  transform: translate(11px, -185px);
}

#POthumbnail-down {
  transform: translate(11px, 185px);
}

.POthumbnail {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  padding-top: 22px;
  height: 360px;
  padding-bottom: 22px;
  z-index: 3;
  top: 5%;
}
.POthumbnail-img {
  width: 50px;
  height: 40px;
  /* margin:  5px 0px; */
}
.POthumbnail-img-selected {
  width: 50px;
  height: 40px;
  border-width: 2px;
  border: solid red;
  /* margin:  5px 0px; */
}

.POthumbnail-dot {
  font-size: 20px;
  margin: 0px;
  display: flex;
  justify-content: center;
  margin-left: 14.5px;
}
.POthumbnail-dot-selected {
  font-size: 30px;
  margin: 0px;
  display: flex;
  justify-content: center;
  margin-left: 14px;
  color: red;
}
.POcheckmark {
  display: inline-block;
  font-size: 25px;
  color: rgb(38, 164, 88);
  z-index: 2;
}

.POstyle {
  margin: 10px 15px;
  border-radius: 100%;
  /* border: 1px solid black; */
}

#POstyles {
  /* border: 1px solid; */
  position: relative;
}

.POcarousel-button {
  border-radius: 50px;
  font-weight: bold;
  border: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 50%;
}

#POcarousel-right {
  left: 90%;
  /* transform: translate(0, -50%); */
  z-index: 1;
}

#POcarousel-left {
  transform: translate(50px, -50%);
  margin-left: 1%;
}

.POcarousel-img {
  width: 600px;
  height: 500px;
}

.POcarousel-img:hover {
  cursor: zoom-in;
}

.POcarousel-zoomed:hover {
  cursor: crosshair;
}

#POlens:hover {
  cursor: zoom-out;
}

.dropdown{
  width: 150px;
  height: 40px;
  font-size: 15px;
  background-color: transparent;
  font-family:'Courier New', Courier, monospace;
  border: 0.5px solid black;
  border-radius: 5%;
}

#POsize-button {
  margin-right: 10px;
}

#POaddToBag {
  width: 250px;
  height: 30px;
  font-size: 15px;
  margin-right: 10px;
  border: 0.5px solid black;
  border-radius: 5%;
  font-family:'Courier New', Courier, monospace;
  background-color: transparent;
}

#POstar {
  width: 50px;
  border: 0.5px solid black;
  border-radius: 5%;
  font-family:'Courier New', Courier, monospace;
  background-color: transparent;
}

#POAddBottom {
  display: flex;
  flex-direction: row;
}

.dropdown-options {
  display: none;
  position: absolute;
  background-color: rgb(251, 249, 249);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family:'Courier New', Courier, monospace;
}

#POAddButtons {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

#POsizeNQuantity {
  display: flex;
  flex-direction: row;
  margin-bottom: 7px;
}

label {
  display: block;
  text-align: center;
}

#POdescription {
  font-family: sans-serif;
  display: block;
  text-align: left;
  font-size: 13px;
  position: relative;
}

h2 {
  margin: 0px;
}