.qna {
  font-family: "adobe-clean", sans-serif;
  font-weight: 100;
  color: dimgray;
  font-size: 15px;
}

input {
  box-sizing: border-box;
  width: 100%;
  border: solid 1px;
  padding: 10px;
  font-weight: bold;
}

#parent-block {
  display: flex;
  width: 98%;
}

#block1 {
  font-weight: bold;
  color: black;
  flex: 1;
  margin-top: 12px;
  margin-left: 0px;
}

#block2 {
  padding-top: 20px;
  margin-right: 0px;
  font-size: 11px;
}

#answer1 {
  font-size: 14px;
  color: black;
  margin-top: 12px;
}

#answer2 {
  font-size: 11px;
  color: gray;
  margin-top: 12px;
}

#buttonAnswer {
  border: none;
  background: none;
  margin-top: 12px;
  font-size: 12px;
  font-weight: bold;
}

.buttonQuestion {
margin-top: 12px;
font-size: 15px;
font-weight: bold;
margin-right:10px;
background-color: white;
text-align: center;
padding: 18px 18px;
}
