.qna {
  font-family: "adobe-clean", sans-serif;
  font-weight: 100;
  color: dimgray;
  font-size: 15px;
}

input {
  box-sizing: border-box;
  width: 100%;
  border: solid 1px;
  padding: 10px;
  font-weight: bold;
}

#parent-block {
  display: flex;
  width: 98%;
}

#block1 {
  font-weight: bold;
  color: black;
  flex: 1;
  margin-top: 12px;
  margin-left: 0px;
}

#block2 {
  padding-top: 20px;
  margin-right: 0px;
  font-size: 11px;
}

#answer1 {
  font-size: 14px;
  color: black;
  margin-top: 12px;
}

#answer2 {
  font-size: 11px;
  color: gray;
  margin-top: 12px;
}

#buttonAnswer {
  border: none;
  background: none;
  margin-top: 12px;
  font-size: 12px;
  font-weight: bold;
}

.buttonQuestion {
margin-top: 12px;
font-size: 15px;
font-weight: bold;
margin-right:10px;
background-color: white;
text-align: center;
padding: 18px 18px;
}

.modalBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modalContainer {
  width: 450px;
  height: 450px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: center;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer .footer button {
  width: 150px;
  height: 45px;
  margin: 10px;
  border: none;
  background-color: cornflowerblue;
  color: white;
  border-radius: 8px;
  font-size: 20px;
  cursor: pointer;
}

#cancelBtn {
  background-color: crimson;
}